button{
    height: 100px;
    background-color: black;
    color:white;
    font-weight: 600;
    text-align: center;
    height: 50px;
    width: 150px;
    border: none;
    margin: 10px;
    border-radius:10%;
    border: 1px solid orange;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    outline: none;
}